:root {
    --dark: #4d545b;
    --light: #e3e3e2;

    --brown: #eee2d3;
    --beige: #534f49;
    --blue: #c6ae98;
}

* {
    font-family: 'PT Serif', serif;
    text-align: center;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

body.dark-mode {
    background-color: var(--dark);
    color: var(--light);
}

.toggle {
    cursor: pointer;
}

main {
    margin: 50px 100px;
}

section {
    margin: 100px 0px;
}

h1,
h2 {
    margin: 20px;
    font-weight: bolder;
}

p,
img {
    margin: 20px;
}

pre {
    padding: 5px;
    background-color: darkgray;
    color: black;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    border: solid gray 1px;
    border-radius: 5px;
}